<!DOCTYPE html>
<html>
<head>
  <title>another Todos</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>another Todos app</h1>

<% if user_signed_in? %>
  Signed in as <%= current_user.email %>. Not you?
  <%= link_to "Sign out", sign_out_url, :method => :delete %>
<% else %>
  <%= link_to "Sign up", sign_up_url %> or <%= link_to "sign in", sign_in_url %>
<% end %>

<%= yield %>

</body>
</html>
